@model WatDuangDee.Domain.Entities.Activity
@{
    ViewBag.Title = "ActDetail";
}

 

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>News Detail</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-6"><b>Topic :</b></div>
        <div class="col-md-6">@Html.DisplayFor(m => Model.Topic)</div>

        <div class="col-md-6"><b>Description :</b></div>
        <div class="col-md-6">@Html.DisplayFor(m => Model.description)</div>

        <div class="col-md-6"><b>Date :</b></div>
        <div class="col-md-6">@Html.DisplayFor(m => Model.date.Day) - @Html.DisplayFor(m => Model.date.Month) - @Html.DisplayFor(m => Model.date.Year)</div>
        <div class="col-md-6"><b>Type :</b></div>
        <div class="col-md-6">@Html.DisplayTextFor(m=> Model.Type)</div>
        <div class="col-md-6"><b>Picture</b></div>
        <div class="col-md-6">

            @if (Model.ImageData != null)
            {
                <img src="@Url.Action("GetImage", "Menu", new { id = Model.ActivityId,Type=2 })" width="600" height="400" />

            }
            else
            {
                @Html.Raw("")
            }
        </div>
    </div>
</div>