@using Microsoft.AspNet.Identity

    @if (Request.IsAuthenticated)
    {
       
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()


    <ul class="nav navbar-nav navbar-right" style=" padding-right:15px;">


        <li>

            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "_ChangePasswordPartial", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>




        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>

        }
        if (User.IsInRole("Admin"))
        {
        <ul class="nav navbar-nav navbar-left">
            <li>@Html.ActionLink("Account", "Index", "UserManage")</li>
        </ul>
              <ul class="nav navbar-nav navbar-left">
            <li>@Html.ActionLink("History", "Index", "History")</li>
        </ul>
         <ul class="nav navbar-nav navbar-left">
            <li>@Html.ActionLink("News", "Index", "News")</li>
        </ul>
    <ul class="nav navbar-nav navbar-left">
        <li>@Html.ActionLink("Activity", "Index", "Activity")</li>
    </ul>
    <ul class="nav navbar-nav navbar-left">
            <li>@Html.ActionLink("Dhamma Lesson", "Index", "Lesson")</li>
        </ul>
        
            <ul class="nav navbar-nav navbar-left">
            <li>@Html.ActionLink("Dhamma Q/A", "Index", "QuestionandAnswer")</li>
        </ul>
            <ul class="nav navbar-nav navbar-left">
            <li>@Html.ActionLink("Photo", "Index", "Photo")</li>
        </ul>
            <ul class="nav navbar-nav navbar-left">
            <li>@Html.ActionLink("Video", "Index", "Video")</li>
        </ul>
       }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">

            <li>@Html.ActionLink("Register (สมัครสมาชิก)", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in (เข้าสู่ระบบ)", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
